<div class="col-12" style="border: 1px solid #808080;">
    <div class="add-form container">
        <div class="row">
            <div class="col-9" style="margin: 5px;">
                <p style="color: black;">Orders</p>
            </div>
        </div>
    </div>
    <input type="text" name="" id="" placeholder="filter products" class="filter" [(ngModel)]="searchName"
        name="searchName">
    <hr>
    <table class="table table-bordered">
        <thead style="background-color: #808080">
            <tr>
                <th scope="col">#</th>
                <th scope="col">User name</th>
                <th scope="col">User address</th>
                <th scope="col">User phone</th>
                <th scope="col">dishesForOrder</th>
                <th scope="col">Total price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let  order of arrayOrders |search:searchName;let i=index">
                <td>{{i+1}}</td>
                <td>{{order.user.firstName}} {{order.user.lastName}}</td>
                <td>{{order.user.address}}</td>
                <td>{{order.user.phone}}</td>
                <td >
                    <ul *ngFor="let dishes of order.dishesForOrder">
                      <li>{{dishes.count}} x {{dishes.name}}</li>
                    </ul> 
                  </td>
                <td>{{order.totalPayment}}</td>
            </tr>
        </tbody>
    </table>
</div>

