h1,td,p,a,h2,h4,label,small,input[type=text],input[type=button]{
    color: #999999;
        font-family: 'Comfortaa-Medium';
}
th{
    color: black;
        font-family: 'Comfortaa-Medium';
}

@media screen and (max-width: 1200px ) and (min-width: 768px){
    td{
        input[type=text]{
            width: 130px;
        }
    }
}


