h1,td,p,a,h2,h4,label,small,input[type=text],input[type=button]{
    color: #999999;
        font-family: 'Comfortaa-Medium';
}
th{
    color: black;
        font-family: 'Comfortaa-Medium';
}

.makeOrderButton{
    background-color: #a6a6a6;
    width: 50%;
    color: black;
    margin: 15px;
}

.counter{
    border-radius: 15px;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1200px ){
    td{
        input[type=text]{
            width: 130px;
            margin: 5px;
        }
    }
}

@media screen and (max-width: 992px ){}

@media screen and (max-width: 425px ){
    .makeOrderButton{
        width: 55%;
    }
    table{
        max-width: 100%;
        display: block;
        overflow: auto;
    }
    .count{
        margin:0  auto;
        input[type=text]{
            width: 30px;
            margin: 5px;
            vertical-align: middle;
        }
        .count1{
            vertical-align: top;
            width: 30px;
            margin: 5px;
        }
        .count2{
            vertical-align: bottom;
            width: 30px;
            margin: 5px;
        }
    }
    .count:after{
        content:"";
        display:inline-block;
        height:100%;
        width:0px;
        overflow:hidden;
        vertical-align:middle;
    }
}


