
<h1 class="text-center">Orders</h1>
<div style="min-height: 300px;">
<div class="container" *ngIf="orders.length!==0">
  <table class="table" >
    <thead>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th>Count</th>
      <th>Total</th>
      <th>Delete</th>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders; let i=index">
        <td>{{ i+1 }}</td>
        <td>{{ order.name }}</td>
        <td>{{ order.price }}</td>
        <td style="width: 280px;">
          <div class="d-flex justify-content-between">
            <button type="button" (click)="orderCount(order, false)" class="btn" style="background-color: #a6a6a6;color: black;"
              [disabled]="order.count===1 ? true : false">-</button>
            <input type="text" [value]="order.count">
            <button type="button" (click)="orderCount(order, true)" class="btn" style="background-color: #a6a6a6;color: black;">
              +</button>
          </div>
        </td>
        <td>
            {{ order.price * order.count }}
        </td>
        <td>
          <button type="button" class="btn" style="background-color: #a6a6a6;color: black;" (click)="deleteOrder(order)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <p style="color: black;">Total price {{totalPrice}} grn</p>
  <div style="justify-content: center;display: flex; align-items: center;"> 
    <a  class="btn" *ngIf="makeOrder" style="background-color: #a6a6a6;width: 50%;color: black;margin: 15px;" (click)="addOrder()">MAKE</a>
    <a [routerLink]="[ '/log-in']" class="btn" *ngIf="!makeOrder" style="background-color: #a6a6a6;width: 50%;color: black;margin: 15px;" (click)="addOrder()">MAKE AN ORDER</a>

</div>
  
</div>
<div style="justify-content: center;display: flex; align-items: center;">
<h2 *ngIf="orders.length==0">Basket is empty</h2>
</div>
</div>