<h1 class="text-center">Orders</h1>
<div style="min-height: 300px;">
  <div class="container" *ngIf="orders.length!==0">
    <table class="table">
      <thead>
        <th>#</th>
        <th>Name</th>
        <th>Price</th>
        <th>Count</th>
        <th>Total</th>
        <th>Delete</th>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders; let i=index">
          <td>{{ i+1 }}</td>
          <td>{{ order.name }}</td>
          <td>{{ order.price }}</td>
          <td style="width: 280px;">
            <div class="d-flex justify-content-between">
              <button type="button" (click)="orderCount(order, false)" class="btn"
                style="background-color: #a6a6a6;color: black;" [disabled]="order.count===1 ? true : false">-</button>
              <input type="text" [value]="order.count">
              <button type="button" (click)="orderCount(order, true)" class="btn"
                style="background-color: #a6a6a6;color: black;">
                +</button>
            </div>
          </td>
          <td>
            {{ order.price * order.count }}
          </td>
          <td>
            <button type="button" class="btn" style="background-color: #a6a6a6;color: black;"
              (click)="deleteOrder(order)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <p style="color: black;">Total price {{totalPrice}} grn</p>
    <div style="justify-content: center;display: flex; align-items: center;">
      <a class="btn" *ngIf="makeOrder" style="background-color: #a6a6a6;width: 50%;color: black;margin: 15px;"
        (click)="addOrder(makeOrderTemplate)">MAKE AN ORDER</a>
      <a class="btn" *ngIf="!makeOrder" style="background-color: #a6a6a6;width: 50%;color: black;margin: 15px;"
        (click)="openModal(template)">MAKE AN ORDER</a>

    </div>

  </div>
  <div style="justify-content: center;display: flex; align-items: center;">
    <h2 *ngIf="orders.length==0">Basket is empty</h2>
  </div>
</div>


<ng-template #makeOrderTemplate>
  <div class="modal-body modal-sm">
    <p> Your order is being prepared</p>
  </div>
</ng-template>


<ng-template #template>
  <div class="modal-header">
    <h4>Make an order</h4>

    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <small class="text-center"> If you want to make an order,you need to specify delivery details. </small>

    <hr>
    <form>
      <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" class="form-control" [(ngModel)]="userFirstName" name="userFirstName">
      </div>
      <div class="form-group">
        <label for="lastName">Last name</label>
        <input type="text" class="form-control" [(ngModel)]="userLastName" name="userLastName">
      </div>
      <div class="form-group">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" [(ngModel)]="userEmail" name="userEmail">
      </div>
      <div class="form-group">
        <label for="city">Phone</label>
        <input type="text" class="form-control" [(ngModel)]="userPhone" name="userPhone">
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" [(ngModel)]="userAddress" name="userAddress">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <input type="button" value="Close" class="btn" style="background-color: #999999;color: black;"
      (click)="modalRef.hide()">
    <input type="button" value="Make an order" class="btn" style="background-color: #999999;color: black;"
      (click)="orderWithoutLogIn()">
  </div>
</ng-template>