.dropdown-menu{
    left: 110px !important;
    top: 60% !important;
    a{
        padding: 5px !important;
        line-height: 40px !important;
    }
}

.top-menu {
    position: relative;
    // background: rgba(34,34,34,.2);
}
.menu-main {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-main:after {
    content: "";
    display: table;
    clear: both;
}
.left-item {float: left;}
.right-item {float: right;}
.navbar-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.menu-main a {
    display: block;
    line-height: 80px;
    padding: 0 20px;
    font-size: 18px;
    
    text-decoration: none;
        color: #999999;
        font-family: 'Comfortaa-Medium';
    // letter-spacing: 2px;
    // font-family: 'Arimo', sans-serif;
    // font-weight: bold;
    // color: white;
    // transition: .3s linear;
}
.menu-main a:hover {
    background: rgba(0,0,0,.3);
    color: black;
}

@media screen and (max-width: 1200px) {
    // .menu-main li {display: block;}
    .navbar-logo {
        margin-left: auto;
    margin-right: auto;
    /* line-height: 80px; */
    padding: 20px;
    height: 80px;
      // position: absolute;
      // left: 50%;
      // top: 10px;
      // transform: translateX(-50%);
      img{
          width: 75%;
          display: block;
    margin-left: auto;
    margin-right: auto;
      }
    }
  }
@media screen and (max-width: 992px) {
  .menu-main {
    padding-top: 90px;
    text-align: center;
  }
  .navbar-logo {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    img{
        width: 50%;
    }
  }
  .menu-main li {
    float: none;
    display: inline-block;
  }
  .menu-main a {
    line-height: normal;
    padding: 20px 15px;
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
    .menu-main {
        padding-top: 40px;
        text-align: center;
      }
  .menu-main li {display: block;}
  .navbar-logo {
    // position: absolute;
    // left: 50%;
    // top: 10px;
    // transform: translateX(-50%);
    img{
        width: 100%;
    }
  }
}


// @media screen and (max-width: 1200px ){
//     img{
//         width: 550px;
//     }
//     .navbar-header {
//         float: none;
//     }
//     .navbar-left,.navbar-right {
//         float: none !important;
//     }
//     .navbar-toggle {
//         display: block;
//     }
//     .navbar-collapse {
//         border-top: 1px solid transparent;
//         box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
//     }
//     .navbar-fixed-top {
//         top: 0;
//         border-width: 0 0 1px;
//     }
//     .navbar-collapse.collapse {
//         display: none!important;
//     }
//     .navbar-nav {
//         float: none!important;
//         margin-top: 7.5px;
//     }
//     .navbar-nav>li {
//         float: none;
//     }
//     .navbar-nav>li>a {
//         padding-top: 10px;
//         padding-bottom: 10px;
//     }
//     .collapse.in{
//         display:block !important;
//     }
// }


// @media screen and (max-width: 992px){
//     img{
//         width: 400px;
//     }
//     .navbar-header {
//         float: none;
//     }
//     .navbar-toggle {
//         display: block;
//     }
//     .navbar-collapse {
//         border-top: 1px solid transparent;
//         box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
//     }
//     .navbar-collapse.collapse {
//         display: none!important;
//     }
//     .navbar-nav {
//         float: none!important;
//         margin: 7.5px -15px;
//     }
//     .navbar-nav>li {
//         float: none;
//     }
//     .navbar-nav>li>a {
//         padding-top: 10px;
//         padding-bottom: 10px;
//     }
// }

// @media screen and (max-width: 768px){
//     .navbar-brand{
//         position: absolute;
//         left: 50%;
//         top: 10px;
//         transform: translateX(-50%);
//     }
//     .navbar-nav{
//         padding-top: 90px;
//         text-align: center;
//     }
//     li{
//         float: none;
//         display: block;
//     }
//     nav{
//         position: relative;
//         background: rgba(34,34,34,.2);
//     }
//     a{
//         text-decoration: none;
//         display: inline-block;
//         padding: 15px 30px;
//         font-family: 'PT Sans Caption', sans-serif;
//         color: white;
//         transition: .3s linear;
//     }





    // img{
//         width: 0px;
//     }
//     .navbar{
//         display: flex;
//     }
//     ul{
//         padding: 1em 0;
//   background: #ECDAD6;
//     }

//     li{
//         display: inline;
//     }

    

//     .navbar-header {
//         float: none;
//     }
//     .navbar-left,.navbar-right {
//         float: none !important;
//     }
//     .navbar-toggle {
//         display: flex;
//     }
//     .navbar-collapse {
//         border-top: 1px solid transparent;
//         box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
//     }
//     .navbar-fixed-top {
//         top: 0;
//         border-width: 0 0 1px;
//     }
//     .navbar-collapse.collapse {
//         display: flex!important;
//     }
    // .navbar-nav {
    //     float: none!important;
    //     margin-top: 7.5px;
    // }
    // .navbar-nav>li {
    //     float: none;
    // }
    // .navbar-nav>li>a {
    //     padding-top: 10px;
    //     padding-bottom: 10px;
    // }
    // .collapse.in{
    //     display:flex !important;
    // }
// }