<div class="home">
    <h2>LET’S START WITH GOOD CLEAN FOOD</h2>
    <p>Delivered to your door, and ready in minutes.</p>
    
    <h1 style="color: black;">Actually healthy.</h1>
    <h1 style="color: black;">Undeniably delicious.</h1>
    <input type="button" [routerLink]="[ '/get-started']" class="btn btn-dark" style="font-family: 'Comfortaa-Medium';" value="GET STARTED">
</div>



<!-- <div class="examples">
    <div>
        <a href>Soup</a>
        <a href>Pasta</a>
        <a href>Bowl</a>
        <a href>Fish</a>
        <a href>Meat</a>
        <a href>Salad</a>
        <a href>Bakery</a>
        <a href>Sweets</a>
        <a href>Smoothie</a>
    </div>
    <div class="container" style="display: flex;align-items: center;justify-content: center">
        <div class="row" style="margin: 0;">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="..."> 
                <p>picture</p>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="..."> 
                <p>picture</p>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                 <img src="..." class="card-img-top" alt="..."> 
                <p>picture</p>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>
    <button class="btn" style="margin-bottom: 10px;background-color: #999999;font-family: 'Comfortaa-Medium';">See more about dish</button>
</div> -->