// @import '../../fonts.scss';

.home{
    background: url('../../../assets/images/home-picture.png') no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    height: 600px;
    text-align: center;
    padding-top: 60px;
}

.examples{
    margin-top: 15px;
    text-align: center;

     
    a{
        padding: 7px;
        color: #999999;
        font-family: 'Comfortaa-Medium';
    }
    .container{
        margin: 0 auto;
    }
    .card{
        margin: 15px;
    }
}

h2,h1,p{
    color: #999999;
    font-family: 'Comfortaa-Medium';
}