h2,p,h4,input[type=text],span,button,li,td,legend{
    color: #999999;
        font-family: 'Comfortaa-Medium';
}
th{
    color: black;
        font-family: 'Comfortaa-Medium';
}
.personal_info{
    border: 3px solid #999999;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    width: 30%;
    div{
        margin-bottom: 10px;
    }
}

.container{
    margin: 10px;
    input[type=text]{
        padding: 5px;
        color: black;
        width: 100%;
    }
}

table{
    width: 65%;
}
.makeOrderButton{
    background-color: #a6a6a6;
    width: 15%;
    color: black;
    margin: 15px;
}
.profileButton{
    justify-content: center;
    display: flex; 
    align-items: center; 
    margin: 15px;
}


@media screen and (max-width: 768px){
    .personal_info{
        width: 45%;
    }
}
@media screen and (max-width: 425px){
    .personal_info{
        width: 95%;
    }
    .makeOrderButton{
        width: 65%;
    }
}