<h2 class="text-center">Personal information</h2>
<div style="justify-content: center;display: flex; align-items: center;">
  <div class="personal_info ">
    <div>
      <span style="color: black;text-align: center;">Name:</span><span style="padding-left: 55px;">{{userName}}</span>
    </div>
    <div>
      <span style="color: black;text-align: center;">Email:</span><span style="padding-left: 57px;">{{userEmail}}</span>
    </div>
    <div>
      <span style="color: black;text-align: center;">Address:</span><span
        style="padding-left: 41px;">{{userAddress}}</span>
    </div>
    <div>
      <span style="color: black;text-align: center;">Phone:</span><span style="padding-left: 53px;">{{userPhone}}</span>
    </div>
    <div>
      <span style="color: black;text-align: center;">Preferences:</span>
      <div class="col" style="padding-left: 103px;">
        <span>Meat:{{optionMeat}}</span> <br>
        <span>Fish:{{optionFish}}</span><br>
        <span>Dairy products:{{optionDairyProduct}}</span> <br>
        <span>Sugar:{{optionSugar}}</span> <br>
        <span>Gluten:{{optionGluten}}</span> <br>
      </div>
    </div>
  </div>
</div>
<div style="justify-content: center;display: flex; align-items: center; margin: 15px;">
  <button class="btn" style="background-color: #a6a6a6;width: 15%;color: black; margin-right: 15px;"
    (click)="logOut()">Logout</button>
  <button class="btn" style="background-color: #a6a6a6;width: 15%;color: black;" (click)="openModal(template,user)">Edit
    profile</button>
</div>
<div style="justify-content: center;display: flex; align-items: center; margin: 15px;">

<table class="table table-bordered">
  <thead style="background-color: #808080">
      <tr>
          <th scope="col">#</th>
          <th scope="col" class="text-center">Dishes</th>
          <th scope="col" class="text-center">Total price</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let  order of personalOrders ;let i=index">
        <td>{{i+1}}</td>
          <td >
            <ul *ngFor="let dishes of order.dishesForOrder">
              <li>{{dishes.count}} x {{dishes.name}}</li>
            </ul> 
          </td>
          <td class="text-center">{{order.totalPayment}}</td>
      </tr>
  </tbody>
</table>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit profile</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <p>First name:</p>
        </div>
        <div class="col-9">
          <input type="text" name="" id="" [(ngModel)]="editFirstName" name="editFirstName">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-3">
          <p>Last name:</p>
        </div>
        <div class="col-9">
          <input type="text" name="" id="" [(ngModel)]="editLastName" name="editLastName">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-3">
          <p>Email:</p>
        </div>
        <div class="col-9">
          <input type="text" name="" id="" [(ngModel)]="editEmail" name="editEmail">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-3">
          <p>Address:</p>
        </div>
        <div class="col-9">
          <input type="text" name="" id="" [(ngModel)]="editAddress" name="editAddress">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-3">
          <p>Phone:</p>
        </div>
        <div class="col-9">
          <input type="text" name="" id="" [(ngModel)]="editPhone" name="editPhone">
        </div>
      </div>
    </div>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-5 pt-0">Do you eat meat?</legend>
        <input type="radio" (click)="Meat(options[0].name)" class="col-1" [checked]='meat' name="optionMeat"
          value="options[0].name"><p>Yes</p><br>
        <input type="radio" (click)="Meat(options[1].name)" class="col-1" [checked]='!meat' name="optionMeat"
          value="options[1].name"><p>No</p> <br>

      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-5 pt-0">Do you eat fish?</legend>
        <input type="radio" (click)="Fish(options[0].name)" class="col-1" [checked]='fish' name="optionFish"
          value="options[0].name"><p>Yes</p><br>
        <input type="radio" (click)="Fish(options[1].name)" class="col-1" [checked]='!fish' name="optionFish"
          value="options[1].name"><p>No</p> <br>

      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-5 pt-0">Do you eat dairy products?</legend>
        <input type="radio" (click)="DairyProducts(options[0].name)" class="col-1" [checked]='dairyProducts'
          name="optionDairyProducts" value="options[0].name"><p>Yes</p><br>
        <input type="radio" (click)="DairyProducts(options[1].name)" class="col-1" [checked]='!dairyProducts'
          name="optionDairyProducts" value="options[1].name"><p>No</p> <br>

      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-5 pt-0">Do you eat sugar?</legend>
        <input type="radio" (click)="Sugar(options[0].name)" class="col-1" [checked]='sugar' name="optionSugar"
          value="options[0].name"><p>Yes</p><br>
        <input type="radio" (click)="Sugar(options[1].name)" class="col-1" [checked]='!sugar' name="optionSugar"
          value="options[1].name"><p>No</p> <br>

      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-5 pt-0">Do you eat dishes with gluten?</legend>
        <input type="radio" (click)="Gluten(options[0].name)" class="col-1" [checked]='gluten' name="optionGluten"
          value="options[0].name"><p>Yes</p><br>
        <input type="radio" (click)="Gluten(options[1].name)" class="col-1" [checked]='!gluten' name="optionGluten"
          value="options[1].name"><p>No</p> <br>

      </div>
    </fieldset>
  </div>
  <div class="modal-footer">
    <input type="button" value="Close" class="btn" style="background-color: #a6a6a6;width: 30%;color: black;"
      (click)="close()">
    <input type="button" value="Save edit" class="btn" style="background-color: #a6a6a6;width: 30%;color: black;"
      (click)="saveEditProfile()">
  </div>
</ng-template>